<!-- About Section -->
<section id="events" style="background: white;">
  <div class="container content-section text-center">
    <div class="row">
      <div class="col-md-12">
          <br/><br/>
          <div data-aos="zoom-in">
              <h2><span style="font-weight: 700;">The </span><span style="font-weight: 100; color: #B7B7B7">Wedding</h2>
          </div>
          <br/><br/>
        </div>
    </div>


    <div class="row">
      <div class="col-md-4" data-aos="fade-up" data-aos-easing="ease-out-back" data-aos-duration="1000">
        <h2  style="background: tomato; color: white; border-top-left-radius: 30px; padding-top: 20px; padding-bottom: 20px; margin-bottom: 0;"><span style="font-weight: bold; font-size: 60px"> May 8-9</span></br><span style="font-weight: 100; font-size: 40px;">Shirdi</h2>
        <div data-aos="fade-in" class="lead" style="background: #f7f7f7; font-size: 14px; font-weight: light; text-align: justify; text-justify: inter-word;">
          <div id="shirdi"></div>
        </div>
      </div>
      <div class="col-md-4" data-aos="fade-up" data-aos-easing="ease-out-back" data-aos-duration="1000">
        <div data-aos="fade-in" class="lead" style="padding-top: 20px; padding-bottom: 20px; margin-bottom: 0; font-size: 14px; font-weight: light; text-align: justify; text-justify: inter-word;">
          <h2 class="text-center" style="font-size: 25px"><span style="font-weight: 700;">Sangeet</span><span style="font-weight: 100; color: #B7B7B7"> (pre-wedding)</h2><br/>
          <div>
              Having opposites interests, when they started sharing their hobbies with each other, teaching each other music, german language, basketball, football - the
              relationship between them started getting more than a friendship. As the time passed, Teju and Shuro started practicing the piano. The daily piano session
              used to be a much awaited moment for them. Becasuse this was the moment everyday when they used to see each other and after the practice they used to go for
              a walk. In an evening as such, Shuro finally proposed her. She was looking like the happiest person on earth that day. The proposal went like this -
          </div><br/>
          <h2 class="text-center" style="font-size: 25px"><span style="font-weight: 700;">Vivah</span><span style="font-weight: 100; color: #B7B7B7"> (wedding)</h2><br/>
          <div>
              Having opposites interests, when they started sharing their hobbies with each other, teaching each other music, german language, basketball, football - the
              relationship between them started getting more than a friendship. As the time passed, Teju and Shuro started practicing the piano. The daily piano session
              used to be a much awaited moment for them. Becasuse this was the moment everyday when they used to see each other and after the practice they used to go for
              a walk. In an evening as such, Shuro finally proposed her. She was looking like the happiest person on earth that day. The proposal went like this -
          </div><br/>
          <h2 class="text-center" style="font-size: 25px"><span style="font-weight: 700;">Pratigraha</span><span style="font-weight: 100; color: #B7B7B7"> (Reception)</h2><br/>
          <div>
              Having opposites interests, when they started sharing their hobbies with each other, teaching each other music, german language, basketball, football - the
              relationship between them started getting more than a friendship. As the time passed, Teju and Shuro started practicing the piano. The daily piano session
              used to be a much awaited moment for them. Becasuse this was the moment everyday when they used to see each other and after the practice they used to go for
              a walk. In an evening as such, Shuro finally proposed her. She was looking like the happiest person on earth that day. The proposal went like this -
          </div><br/>
        </div>
      </div>
      <div class="col-md-2"></div>
      <div class="col-md-4" data-aos="fade-up" data-aos-easing="ease-out-back" data-aos-duration="1000">
        <h2  style="background: tomato; color: white; border-top-right-radius: 30px; padding-top: 20px; padding-bottom: 20px; margin-bottom: 0;"><span style="font-weight: bold; font-size: 60px"> May 14</span></br><span style="font-weight: 100; font-size: 40px;">Siliguri</h2>
        <div data-aos="fade-in" class="lead" style="background: #f7f7f7; font-size: 14px; font-weight: light; text-align: justify; text-justify: inter-word;">
          <div id="siliguri"></div>
        </div>
      </div>
    </div>
</section>
